[submodule "dl-database-api"]
	path = dl-database-api
	url = git@github.com:devopslibrary/dl-database-api
[submodule "dl-frontend"]
	path = dl-frontend
	url = git@github.com:devopslibrary/dl-frontend
